<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfnu.mapper.SpecialSQLMapper">

    <select id="getUserByLike" resultType="User">
        SELECT * FROM t_user WHERE username LIKE "%"#{mohu}"%"
    </select>

    <delete id="deleteMoreUser">
        DELETE FROM t_user WHERE id IN (${ids})
    </delete>


    <select id="getUserList" resultType="User">
        SELECT * FROM ${tableName}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user VALUES(null,#{username},#{password},#{age},#{gender},#{email});
    </insert>

</mapper>